## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
t = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
t.sort(key=lambda i: i[1])
t

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

-------------------------------------------------------------------------------------

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
square_l = list(map(lambda i: i**2,l))

In [5]:
square_l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

-------------------------------------------------------------------------------------

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions                                                                                             

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]                                                           

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
list_int = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
tuple_str = tuple(map(lambda i : str(i),list_int))
tuple_str

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

-------------------------------------------------------------------------------------

## Q4.  Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [8]:
from functools import reduce

In [9]:
prod = reduce(lambda a,b:a*b,list(range(1,26)))
prod

15511210043330985984000000

-------------------------------------------------------------------------------------

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [10]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [11]:
filter_list = list(filter(lambda x: x if x % 2 == 0 and x % 3 == 0 else None ,l))
filter_list

[6, 60, 90, 120]

-------------------------------------------------------------------------------------

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [12]:
string_list = ['python', 'php', 'aba', 'radar', 'level']

In [13]:
palindrome_list = list(filter(lambda x: x if x == x[::-1] else None,string_list))
palindrome_list

['php', 'aba', 'radar', 'level']